/* File: frontend/src/index.css */

/* Importing Tailwind CSS */
@import 'tailwindcss';

/* Custom primary color in Tailwind CSS */
@theme {
  --color-primary: #5f6fff;
}

/* Custom styles for the active class */
.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}
